.bg
{
    display: flex;
    flex-direction: column;
    align-items: center;
   background-image: url(./photos/cat01.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   

}


.container
{
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    /* border: 3px;
    border-style: solid; */
    /* background-color: blueviolet; */
    /* border-color: rgb(14, 14, 14);
    border-radius: 5px; */
    /* opacity: .4; */ 
    margin-top: 450px ;
    align-items: center;
 
}

.btn
{
    color: black;
    background-color: #ff6df8;
    width: 100px;   
    height: 40px;
    border-radius: 10px;
    
}
.btn:hover{
    color: black;
    background-color: rgb(255, 177, 177);
}

.size
{
   
    width: 250px;
    height: 30px;
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: rgb(128, 128, 128);
    font-size: 1px;
}